@model IEnumerable<SportSupplement>

@{
    ViewData["Title"] = "All Supplements";
    var search = string.Empty;
}

<link rel='stylesheet' href='~/css/supplement.css'>
<link rel='stylesheet' href='~/css/exercise.css'>

<h1 style="text-align: center;">
    Enhance Your Performance:
    <br>
    Explore Our Supplements Range!
</h1>

<a class="add-link" asp-controller="SportSuplement" asp-action="Create">Add Supplement</a>

<div class="container">
    <div class="row" id="exercises-list">
        @if (!Model.Any())
        {
            <div>Nothing was found!</div>
        }
        else
        {
            @foreach (var supplement in Model)
            {
                <div id="@supplement.Id" class="col-md-4">
                    <div id="exercise-card" class="card mb-4 shadow-sm">
                        <a id="exercise-link" class="details-link" asp-controller="Suplement" asp-action="Details" asp-route-id="@supplement.Id">
                            <div id="exercise-data" class="card-body all-items">
                                <img style="width: 360px;height: 360px;" src="@supplement.ImageUrl" alt="@supplement.Name"/>
                                <div id="exercise-info" class="tags">
                                    <label id="type-field" class="exercise-type">@supplement.ManufactureCountry</label>
                                    <label id="brand-field" class="exercise-brand">@supplement.Quantity</label>
                                </div>
                                <div id="name-field" class="exercise-name"><b>@supplement.Name</b></div>
                            </div>
                        </a>
                        <div id="exercise-info" class="tags" style="text-align: center;">
                            <button onclick="deleteSupplement(@supplement.Id)" id="type-field" class="exercise-type">Delete</button>
                            <button onclick="showUpdateSupplementView(@supplement.Id)" id="brand-field" class="exercise-brand">Update</button>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<script src="~/js/suplements-functions.js"></script>
