@model SportSupplement

@{
    ViewData["Title"] = "Update exercise";

    string? name = @Model.Name;

    string? manufactureCountry = @Model.ManufactureCountry;

    string? imageUrl = @Model.ImageUrl;

    string? description = @Model.Description;

    double? quantity = @Model.Quantity;

    bool isApproved = false;
}

<form id="update-suplements">
    <div class="mb-3">
        <label asp-for="@name" class="form-label">Name: </label>
        <input required type="text" asp-for="@name" class="form-control" value="@name">
    </div>

    <div class="mb-3">
        <label asp-for="@manufactureCountry" class="form-label">Manufacture Country: </label>
        <input required type="text" asp-for="@manufactureCountry" class="form-control" value="@manufactureCountry">
    </div>

    <div class="mb-3">
        <label asp-for="@description" class="form-label">Description: </label>
        <input required type="text" asp-for="@description" class="form-control" value="@description">
    </div>

    <div class="mb-3">
        <label asp-for="@quantity" class="form-label">Quantity: </label>
        <input required type="number" asp-for="@quantity" class="form-control" value="@quantity">
    </div>

    <button onclick="updateSupplement(@Model.Id)" type="submit" class="btn submit-button">Update</button>
</form>

<script src="~/js/suplements-functions.js"></script>