@model Food

@{
    ViewData["Title"] = "Update";

}

<h1 style="text-align: center; color: white;">@ViewData["Title"]</h1>


<div class="container">
    <div class="row justify-content-center">
        <div>
            <form id="updateForm"
                style="color: white; margin-bottom: 300px;">
                <div class="form-group">
                    <label class="form-label" asp-for="@Model.Name">Name: </label>
                    <input class="form-control" type="text" asp-for="@Model.Name" class="form-control" required>
                </div>

                <br>

                <div class="form-group">
                    <label class="form-label" asp-for="@Model.Description">Description: </label>
                    <input class="form-control" type="text" asp-for="@Model.Description" class="form-control">
                </div>

                <br>

                <div class="form-group">
                    <label class="form-label" asp-for="@Model.Diet">Diet: </label>
                    <select class="form-control" id="category" asp-for="@Model.Diet" class="form-control">
                        <option value="Omnivore">Omnivore</option>
                        <option value="Vegetarian">Vegetarian</option>
                        <option value="Vegan">Vegan</option>
                        <option value="Paleo">Paleo</option>
                        <option value="Gluten-Free">Gluten-Free</option>
                        <option value="Whole30">Whole30</option>
                    </select>
                </div>

                <br>

                <button type="submit" onclick="submitUpdateForm('@Model.Id')" class="btn submit-button">Update</button>
            </form>
        </div>
    </div>
</div>

<script>
    async function submitUpdateForm(id) {
        event.preventDefault();

        const form = document.getElementById('updateForm');

        const formData = new FormData(form);

        let jsonData = {};

        for (let [key, value] of formData.entries()) {
            jsonData[key] = value;
        }

        await fetch('/Food/Update/' + id, {
            method: "PUT",
            body: JSON.stringify(jsonData),
            headers: {
                "Content-Type": "application/json"
            }
        }).then(data => {
            window.location.href = '/Food/Index';
        });
    }
</script>