@model IEnumerable<Exercise>

@{
    ViewData["Title"] = "All exercises";

    var search = string.Empty;
}

<link rel='stylesheet' href='~/css/exercise.css'>

<h1 style="text-align: center;">
    Get Fit, Stay Strong: 
    <br>
    Your Ultimate Guide to Exercise!
</h1>

<div class="container">
    <div class="row" id="exercises-list">
        @if (!Model.Any())
        {
            <div>Nothing was found!</div>
        }
        else
        {
            @foreach (var exercise in Model)
            {
                <div id="@exercise.Id" class="col-md-4">
                    <div id="exercise-card" class="card mb-4 shadow-sm">
                        <a id="exercise-link" class="details-link" asp-controller="Exercise" asp-action="Details" asp-route-id="@exercise.Id">
                            <div id="exercise-data" class="card-body all-items">
                                <img src="@exercise.GifUrl" alt="@exercise.Name"/>
                                <div id="exercise-info" class="tags">
                                    <label id="body-part-field" class="exercise-body-part">@exercise.BodyPart</label>
                                    <label id="target-field" class="exercise-target">@exercise.Target</label>
                                </div>
                                <div id="name-field" class="exercise-name"><b>@exercise.Name</b></div>
                            </div>
                        </a>
                        <div id="exercise-info" class="tags" style="text-align: center;">
                            <button onclick="deleteExercise(@exercise.Id)" id="body-part-field" class="exercise-body-part">Delete</button>
                            <button onclick="showUpdateExerciseView(@exercise.Id)" id="target-field" class="exercise-target">Update</button>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<script src="~/js/exercises-operations.js"></script>